- var lang = "ja";
- var title = "仕出し 松うら";
- var keywords = "仕出し 松うら"
- var ogDesc = `仕出し 松うらは、料理を通して地域の皆様をはじめ、お客様のライフスタイルにほんの少しの「幸せ」を増やすお手伝いをします。浜町、人形町、東日本橋駅すぐ。（旧：BOOKSHELFCAFE）`;
- var ogLocale = "ja_JP";
- var ogUrl = "https://nihombashimatsuura.com/";
- var ogImage = "/img/logo.png";
- var ogType = "website";
- var twitterSite = "@tokyo_matsuura"

- function relativeUrl(url){ return  '/' + url.replace(/(^\/)/, ''); }
- function relativeOGUrl(url){ return  ogUrl + url.replace(/(^\/)/, ''); }
