- var slides = ["background-image:url(/img/slides/01.jpg)","background-image:url(/img/slides/02.jpg)","background-image:url(/img/slides/03.jpg)"]

header(class="overflow-hidden relative")
  div(class="absolute w-1/5 max-w-[300px] min-w-[150px] top-2 left-2 z-50 shadow-[#fff6] shadow-sm")
    div(class="absolute inset-0 bg-[#fff5] -z-10")
    img(src="/img/logo.png" alt="logo")
  div#slider
  div(class="absolute bottom-0 left-[50vw] -translate-y-[50%] z-30")
    div(class="mouseIcon")
  div(class="absolute top-10 right-10 w-12 h-12 z-40")
    div(id="menuBtn")
      span